* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/free-photo/idyllic-shot-of-a-huge-mountain-covered-in-vegetation-with-a-body-of-water-at-its-base_181624-21444.jpg?size=626&ext=jpg&ga=GA1.2.1479421696.1641168000")
    center no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 25% !important;
  height: 550px;
  padding: 0 !important;
  border-radius: 5px;
  background-color: white !important;

  .r1 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 0 !important;

    .header {
      position: relative;

      h3,
      p {
        position: relative;
        text-align: center;
        top: 15%;
      }
    }
  }
  .r2 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 0 !important;
    margin: 0 !important;

    .btn {
      position: relative;
      padding: 0 !important;
      margin: 0 !important;

      svg {
        width: 15px;
        height: 15px;
        fill: white;
      }

      button {
        position: relative;
        border: none;
        top: 4%;
        padding: 7px;
        font-size: 15px;
        width: 100%;
        color: white;
        font-weight: 500;
        border-radius: 3px;
      }
      .btn1 {
        position: relative;
        top: 10px;
        background-color: rgb(6, 209, 182);
      }
      .btn2 {
        position: relative;
        top: 15px;
        background-color: rgb(0, 126, 230);
      }
    }
  }
  .r3 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 !important;
    padding-top: 8px;

    p {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
  }
  .r4 {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 0 !important;
    margin: 0 !important;

    .svgdiv {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background-color: grey;
      svg {
        width: 20px;
        height: 20px;
        background-color: grey;
      }
    }
    input {
      position: relative;
      padding: 5px;
      font-size: 15px;
      outline: none;
      width: 280px;
    }

    .d1,
    .d2,
    .d3,
    .d4 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }
  .r5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;

    .btnOne {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0 !important;

      button {
        position: relative;
        padding: 5px;
        border: 0px;
        border-radius: 3px;
        font-size: 15px;
        color: white;
        font-weight: 500;
        height: 40px;
        width: 300px;
        background-color: rgb(0, 126, 230);
      }
    }
  }
  .r6 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 !important;
    padding-top: 8px;

    p {
      font-weight: bold;
      text-align: center;
    }
    b {
      color: blue;
      cursor: pointer;
    }
  }
}
